################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TopUpService.API/obj
/.vs/TopUpService
/TopUpService.API/bin
/TopUpService.API.Test/bin
/TopUpService.API.Test/obj
/TopUpService.Common/obj
/TopUpService.Infrastructure/obj
/TopUpService.Common/bin
/TopUpService.Infrastructure/bin
/.vs/ProjectEvaluation
