################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TopUpService.API/obj
/.vs/TopUpService
/TopUpService.API/bin